* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./Imagens/Background.jpg);
  background-size: cover;
  background-repeat: no-repeat; 
  height: 100vh;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5%;
  background-color: rgb(0, 0, 0, 0.6);
}
.logo {
  width: 150px;
}
.canto{
  display: flex;
  gap: 10px;
}
.lingua select, .lingua-footer select {
  padding: 6px;
  background-color: rgb(0, 0, 0);
  color: white;
}
.entrar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  height: 30px;
  width: 70px;
  background-color: red;
  color: white;
  cursor: pointer;
}


.home {
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.6),#040012e8);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  height: 80vh;
  margin-top: 80px;
  align-self: flex-start;
  max-width: 1500px;
  margin-left: 80px;
}
.title h1 {
  font-size: 80px;
}
.title h3 {
  font-size: 30px
}
.title p {
  margin-top: 100px;
  font-size: 25px;
}
.form {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 10px;
}
input {
  background-color: rgb(0, 0, 0, 0.8);
  border: none;
  color: white;
  padding: 15px;
  width: 400px;
  font-size: 15px;
}
button {

  background-color: red;
  color: rgb(255, 255, 255);
  padding: 12px;
  font-size: 20px;
  border-radius: 2px;
  cursor: pointer;
  border: none;
}




.quadro {
  background: linear-gradient(#040012e8 , #040012);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 10px 20px;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
  height: 340px;
  background: linear-gradient(rgba(14,19,58,255), rgba(65,16,33,255));
  border-radius: 10px;
  color: white;
  flex: 1 40%;
}
.item img {
  border-radius: 10px;
  align-self: center;
  justify-content: center;
  max-width: 70%;
  max-height: 70%;
}
.item p, .item h3{
  margin-left: 40px;
}





footer {
  background-color: #040012;
  color: #b3b3b3;
  padding: 20px;
}
.ligue {
  padding: auto;
  text-align: center;
}
.footer-links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 30px;
}
.footer-links ul {
  list-style: none;
}
.footer-links li {
  margin-bottom: 10px;
}
.footer-links a {
  color: #b3b3b3;
  font-size: 14px;
}
.footer-links a:hover {
  color: rgba(255, 0, 0, 0.553);
}
.lingua-footer {
  padding: auto;
  text-align: center;
}
.netflix-brasil {
  padding: auto;
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
}
